/*
 * guimain.rc
 *
 * $Id$
 *
 * Written by Keith Marshall <keithmarshall@users.sourceforge.net>
 * Copyright (C) 2012, 2013, MinGW.org Project
 *
 *
 * Resource definitions for the mingw-get GUI implementation.
 *
 *
 * This is free software.  Permission is granted to copy, modify and
 * redistribute this software, under the provisions of the GNU General
 * Public License, Version 3, (or, at your option, any later version),
 * as published by the Free Software Foundation; see the file COPYING
 * for licensing details.
 *
 * Note, in particular, that this software is provided "as is", in the
 * hope that it may prove useful, but WITHOUT WARRANTY OF ANY KIND; not
 * even an implied WARRANTY OF MERCHANTABILITY, nor of FITNESS FOR ANY
 * PARTICULAR PURPOSE.  Under no circumstances will the author, or the
 * MinGW Project, accept liability for any damages, however caused,
 * arising from the use of this software.
 *
 */
#include "guimain.h"
#include <windows.h>

/* The icon representing the mingw-get application; it is a clone
 * of the icon representing the synaptic package for Debian APT.
 */
ID_MAIN_WINDOW	ICON	DISCARDABLE	"pkgicon.ico"

/* Specification for the layout and content of the dialogue panel
 * which is called out by the "Help --> About mingw-get" menu pick.
 */
IDD_HELP_ABOUT	DIALOG	DISCARDABLE	80, 50, 250, 185
CAPTION					"About mingw-get"
STYLE					DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_DLGFRAME
FONT					9, "Verdana"
BEGIN
  DEFPUSHBUTTON 			"OK", IDOK, 100, 155, 50, 14, WS_GROUP
  ICON					ID_MAIN_WINDOW, ID_MAIN_WINDOW, 115, 30, 0, 0
  CTEXT					"%PACKAGE_NAME% version %PACKAGE_VERSION%", -1, 0, 10, 250, 20
  CTEXT					"Written by Keith Marshall", -1, 0, 60, 250, 12
  CTEXT					"Copyright \xa9 %YEARS_OF_ISSUE%, %COPYRIGHT_HOLDER%", \
					-1, 0, 72, 250, 12
  CTEXT					"http://mingw.org", -1, 0, 84, 250, 12
  CTEXT					"\
This is free software; see the product documentation or source code, for copying and redistribution \
conditions.  There is NO WARRANTY; not even an implied WARRANTY OF MERCHANTABILITY, nor of FITNESS FOR \
ANY PARTICULAR PURPOSE.", -1, 10, 108, 230, 40
END

/* Include a manifest resource, to support visual style attributes
 * and unprivileged UAC, when running on current MS-Windows variants.
 */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE
BEGIN
  "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?> \
  <assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0""> \
    <trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2""> \
      <security> \
	<requestedPrivileges> \
	  <requestedExecutionLevel level=""asInvoker"" uiAccess=""false"" /> \
	</requestedPrivileges> \
      </security> \
    </trustInfo> \
    <dependency> \
      <dependentAssembly> \
	<assemblyIdentity \
	  type=""Win32"" name=""Microsoft.Windows.Common-Controls"" version=""6.0.0.0"" \
	  processorArchitecture=""x86"" publicKeyToken=""6595b64144ccf1df"" language=""*"" \
	/> \
      </dependentAssembly> \
    </dependency> \
  </assembly>"
END

/* Miscellaneous string constants.
 */
STRINGTABLE		DISCARDABLE
BEGIN
  ID_MAIN_WINDOW_CLASS  		"mingw-get-gui"
  ID_MAIN_WINDOW_CAPTION 		"MinGW Installation Manager"
  ID_SASH_WINDOW_PANE_CLASS		"mingw-get-sash-pane"
  ID_FONT_PREF				"Verdana"
END

/* Top menu bar...
 */
ID_MAIN_WINDOW	MENU	DISCARDABLE
BEGIN
  /* The "Installation" drop-down menu; this includes options
   * which are commonly found on the "File" menu of applications
   * with conventional menu bar content.
   */
  POPUP 	"&Installation"
  BEGIN
    MENUITEM	  "&Update Catalogue",			IDM_REPO_UPDATE
    MENUITEM	  "&Mark All Upgrades",			IDM_REPO_MARK_UPGRADES
    MENUITEM	  "&Apply Changes",			IDM_REPO_APPLY, GRAYED
    MENUITEM	  SEPARATOR
    MENUITEM	  "&Quit\tAlt+F4", 			IDM_REPO_QUIT
  END

  /* The "Package" drop-down menu; this provides for selection of
   * the actions to be performed on a collection of packages.
   */
  POPUP		"&Package"
  BEGIN
    MENUITEM	  "U&nmark",				IDM_PACKAGE_UNMARK, GRAYED
    MENUITEM	  "Mark for &Installation",		IDM_PACKAGE_INSTALL, GRAYED
    MENUITEM	  "Mark for R&einstallation",		IDM_PACKAGE_REINSTALL, GRAYED
    MENUITEM	  "Mark for &Upgrade",			IDM_PACKAGE_UPGRADE, GRAYED
    MENUITEM	  "Mark for &Removal",			IDM_PACKAGE_REMOVE, GRAYED
  END

  /* The "Settings" drop-down menu is currently unimplemented.
   */
  POPUP		"&Settings"
  BEGIN
  END

  /* The "Help" drop-down menu.
   */
  POPUP 	"&Help",				HELP
  BEGIN
    MENUITEM	"&Contents",				IDM_HELP_CONTENTS, GRAYED
    MENUITEM	"Quick &Introduction",			IDM_HELP_INTRO, GRAYED
    MENUITEM	"Icon &Legend",				IDM_HELP_LEGEND, GRAYED
    MENUITEM  	"&About mingw-get",			IDM_HELP_ABOUT
  END

END

/* The set of icons used in check-boxes representing package status;
 * as in the case of the application icon, these are clones of their
 * corresponding synaptic icons, with their file names representing
 * the serial position of each within mingw-get's package list icon
 * bundle, while their symbolic names are derived from the orignal
 * synaptic icon names, which are representative of the associated
 * package status.
 */
ID_PKGSTATE_AVAILABLE		ICON	DISCARDABLE	"state01.ico"
ID_PKGSTATE_AVAILABLE_NEW	ICON	DISCARDABLE	"state02.ico"
ID_PKGSTATE_AVAILABLE_LOCKED	ICON	DISCARDABLE	"state03.ico"
ID_PKGSTATE_AVAILABLE_INSTALL	ICON	DISCARDABLE	"state04.ico"
ID_PKGSTATE_INSTALLED_CURRENT	ICON	DISCARDABLE	"state05.ico"
ID_PKGSTATE_INSTALLED_LOCKED	ICON	DISCARDABLE	"state06.ico"
ID_PKGSTATE_INSTALLED_OLD	ICON	DISCARDABLE	"state07.ico"
ID_PKGSTATE_UPGRADE		ICON	DISCARDABLE	"state08.ico"
ID_PKGSTATE_REINSTALL		ICON	DISCARDABLE	"state09.ico"
ID_PKGSTATE_DOWNGRADE		ICON	DISCARDABLE	"state10.ico"
ID_PKGSTATE_BROKEN		ICON	DISCARDABLE	"state11.ico"
ID_PKGSTATE_REMOVE		ICON	DISCARDABLE	"state12.ico"
ID_PKGSTATE_PURGE		ICON	DISCARDABLE	"state13.ico"

/* Template for progress meter dialogue box.
 */
IDD_REPO_UPDATE DIALOG	DISCARDABLE	10, 20, 270, 60
CAPTION 				"Update Package Catalogue"
STYLE					DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_DLGFRAME
FONT					10, "Verdana"
BEGIN
  GROUPBOX				"Actions", IDD_CLOSE_OPTIONS, 5, 31, 260, 25
  DEFPUSHBUTTON 			"Close", IDOK, 219, 39, 40, 12, WS_GROUP | WS_DISABLED
  AUTOCHECKBOX				"Close dialogue automatically, when update is complete.", \
					IDD_AUTO_CLOSE_OPTION, 10, 41, 200, 11
  CONTROL				"", IDD_PROGRESS_BAR, PROGRESS_CLASS, WS_CHILD \
					| PBS_SMOOTH, 6, 20, 258, 10
  LTEXT 				"", IDD_PROGRESS_MSG, 7, 6, 256, 12
END

#define SS_CTEXTBOX			SS_SUNKEN | SS_CENTER
#define ES_VT100			ES_LEFT | ES_READONLY | ES_MULTILINE | ES_AUTOVSCROLL

/* Template for dialogue requesting user confirmation of intent
 * to proceed with scheduled change actions.
 */
IDD_APPLY_APPROVE DIALOG DISCARDABLE	10, 10, 306, 191
CAPTION					"Schedule of Pending Actions"
STYLE					DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_DLGFRAME
FONT					10, "Verdana"
BEGIN
  GROUPBOX				"Okay to proceed?", IDD_PROGRESS_TXT, 6, 5, 294, 33
  LTEXT 				"The package changes itemised below will\n" \
  					"be implemented when you choose ""Apply""", IDD_PROGRESS_MSG, \
					10, 15, 150, 20
  DEFPUSHBUTTON 			"Apply", ID_APPLY, 166, 17, 40, 12, WS_GROUP
  PUSHBUTTON 				"Defer", ID_DEFER, 210, 17, 40, 12, WS_GROUP
  PUSHBUTTON 				"Discard", ID_DISCARD, 254, 17, 40, 12, WS_GROUP
  GROUPBOX				"", IDD_APPLY_REMOVES_SUMMARY, 6, 40, 294, 47
  EDITTEXT				IDD_APPLY_REMOVES_PACKAGES, 7, 50, 292, 36, WS_VSCROLL | ES_VT100
  GROUPBOX				"", IDD_APPLY_UPGRADES_SUMMARY, 6, 89, 294, 47
  EDITTEXT				IDD_APPLY_UPGRADES_PACKAGES, 7, 99, 292, 36, WS_VSCROLL | ES_VT100
  GROUPBOX				"", IDD_APPLY_INSTALLS_SUMMARY, 6, 138, 294, 47
  EDITTEXT				IDD_APPLY_INSTALLS_PACKAGES, 7, 148, 292, 36, WS_VSCROLL | ES_VT100
END

/* Template for a GUI styled package download monitoring dialogue box.
 */
IDD_APPLY_DOWNLOAD DIALOG DISCARDABLE	10, 20, 280, 52
CAPTION					"Download Package"
STYLE					DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_DLGFRAME
FONT					10, "Verdana"
BEGIN
  LTEXT 				"Connecting...", IDD_PROGRESS_MSG, 7, 6, 266, 10
  CONTROL				"", IDD_PROGRESS_VAL, "STATIC", SS_CTEXTBOX, 6, 20, 100, 10
  CTEXT					"of", IDD_PROGRESS_TXT, 106, 20, 18, 10
  CONTROL				"", IDD_PROGRESS_MAX, "STATIC", SS_CTEXTBOX, 124, 20, 100, 10
  CTEXT					":", IDD_PROGRESS_TXT, 224, 20, 10, 10
  CONTROL				"", IDD_PROGRESS_PCT, "STATIC", SS_CTEXTBOX, 234, 20, 40, 10
  CONTROL				"", IDD_PROGRESS_BAR, PROGRESS_CLASS, WS_CHILD \
					| PBS_SMOOTH, 6, 35, 268, 10
END

IDD_APPLY_EXECUTE DIALOG DISCARDABLE	10, 10, 306, 193
CAPTION					"Applying Scheduled Changes"
STYLE					DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_DLGFRAME
FONT					10, "Verdana"
BEGIN
  LTEXT 				"", IDD_PROGRESS_MSG, 7, 6, 294, 10
  AUTOCHECKBOX				"Close dialogue automatically, when activity is complete.", \
					IDD_AUTO_CLOSE_OPTION, 8, 19, 240, 11
  DEFPUSHBUTTON 			"Close", IDOK, 258, 18, 40, 12, WS_GROUP | WS_DISABLED
  GROUPBOX				"Details", IDD_PROGRESS_TXT, 6, 35, 294, 152
  EDITTEXT				IDD_DMH_CONSOLE, 7, 45, 292, 141, WS_BORDER | WS_VSCROLL | ES_VT100
END

/* $RCSfile$: end of file */
