/*
 * manifest.rc
 *
 * $Id$
 *
 * Written by Keith Marshall <keithmarshall@users.sourceforge.net>
 * Copyright (C) 2013, MinGW.org Project
 *
 *
 * Manifest resource definition, supporting visual style attributes
 * and unprivileged UAC, when running on current MS-Windows variants.
 *
 *
 * This is free software.  Permission is granted to copy, modify and
 * redistribute this software, under the provisions of the GNU General
 * Public License, Version 3, (or, at your option, any later version),
 * as published by the Free Software Foundation; see the file COPYING
 * for licensing details.
 *
 * Note, in particular, that this software is provided "as is", in the
 * hope that it may prove useful, but WITHOUT WARRANTY OF ANY KIND; not
 * even an implied WARRANTY OF MERCHANTABILITY, nor of FITNESS FOR ANY
 * PARTICULAR PURPOSE.  Under no circumstances will the author, or the
 * MinGW Project, accept liability for any damages, however caused,
 * arising from the use of this software.
 *
 */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE
  BEGIN
    "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?> \
    <assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0""> \
      <trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2""> \
	<security> \
	  <requestedPrivileges> \
	    <requestedExecutionLevel level=""asInvoker"" uiAccess=""false"" /> \
	  </requestedPrivileges> \
	</security> \
      </trustInfo> \
      <compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1""> \
	<application> \
	  <!-- Note: the GUIDs for Vista and Win7, below, are from \
	       msdn.microsoft.com/en-us/library/dd371711(VS.85).aspx; \
	       that for Win8 is not authoritive, and has been obtained \
	       from stackoverflow.com/questions/898220 \
	    --> \
	  <supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}"" /><!-- Vista --> \
	  <supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}"" /><!-- Win7 --> \
	  <supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}"" /><!-- Win8 --> \
	</application> \
      </compatibility> \
      <dependency> \
	<dependentAssembly> \
	  <assemblyIdentity \
	    type=""Win32"" name=""Microsoft.Windows.Common-Controls"" version=""6.0.0.0"" \
	    processorArchitecture=""x86"" publicKeyToken=""6595b64144ccf1df"" language=""*"" \
	  /> \
	</dependentAssembly> \
      </dependency> \
    </assembly>"
  END

/* $RCSfile$: end of file */
